name: TileDB-ML Python CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: [3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    # Print python and pip version information for debugging.
    - name: 'Print python version in bash task'
      run: |
        echo '==== Python information ===='
        which python
        which pip
        python --version
        echo '============================'
      shell: bash

    - name: 'Print env'
      run: printenv
      shell: bash

    - name: 'Install dependencies'
      run: python -m pip install --upgrade -r requirements.txt
      shell: bash

    - name: 'Run tests'
      run: |
        python -m unittest discover test